body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("./font/Gotham.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Gotham-light";
  src: local("Gotham"), url("./font/Gotham\ Light.otf") format("truetype");
  font-style: normal;
}
